alembic==1.16.5
boto3==1.34.0
celery==5.5.3
firebase_admin==7.1.0
Flask==3.1.2
flask_cors==6.0.1
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
python-dotenv==1.1.1
redis==6.4.0
SQLAlchemy==2.0.39
Werkzeug==3.1.3
